.home {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-listing {
  border: 1px solid $color-brand-gray;
  border-radius: 3px;
  min-height: 150px;
  padding: 20px;
  margin: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.project-listing__title {
  font-size: $font-size-medium;
  text-decoration: underline;
}

.project-listing__footer {
  margin-top: 30px;
}

.project-listing__seeking {
  display: flex;
  flex-wrap: wrap;
}

.project-listing__seeking-title {
  margin-bottom: 10px;
}

.project-listing__seeking-item {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: $color-brand-teal;
  border: 1px solid lighten($color-brand-teal, 10%);
}

.project-listing__seeking-item:hover {
  background-color: lighten($color-brand-teal, 5%);
}

@media (max-width: 1164px) {
  .project-listing {
    width: 100%;
  }
}