@import 'variables.scss';
body {
  margin: 0;
  color: $color-brand-gray;
  font-family: 'Signika', sans-serif;
}

input, textarea, select{
  font-family: inherit;
  font-size: inherit;
}


a {
  text-decoration: none;
  color: inherit;
}