$color-brand-gray: #434D53;
$color-brand-teal: #0E8D94;
$color-brand-green: #72AD75;
$color-brand-yellow: #E9D558;
$color-brand-orange: #FFAB07;

$font-size-small: 20px;
$font-size-medium: 28px;
$font-size-large: 36px;